@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_Regular.woff2) format("woff2"),
    url(../fonts/NunitoSans_Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Asket Extended";
  src: url(../fonts/Asket\ Extended\ Light.woff2) format("woff2"),
    url(../fonts/Asket\ Extended\ Light.woff) format("woff");
  font-weight: 300;
}
